.header {
    width: 100%;
    height: 12.5rem;
    background: var(--gray-700);
}

.header img {   
    height: 3rem;
    display: flex;
    margin: auto;
    padding-top: 4rem;
}

.addingTask {
    width: 100%;
    display: flex; /* Ativa o flexbox */
    align-items: center; /* Alinha os itens no centro horizontalmente */
    justify-content: center; /* Centraliza no eixo vertical */
    margin: 3.5rem; /* Remove margens extras, se houver */

}
.addingTask textarea {
    width: 46rem;
    height: 3.375rem;
    border-color: var(--gray-700);
    border-radius: 5px;
    resize: none;
    background: var(--gray-500);
    color: var(--gray-300);
    display: flex;
    font-size: 1rem;
}



.addingTask footer button {
    margin: 0.5rem;
    width: 5rem;
    height: 3.375rem;
    border-radius: 5px;
    border: none; 
    cursor: pointer;
    background: var(--blue-dark);
    color: var(--gray-100);
    display: flex;
    align-items: center;
    padding: 0 0 0 11%;
} 

.addingTask footer button:hover {
    background: var(--blue);
}

.plusCircle {
    display: flex;
    padding: 0 0 0 5px;
}
