.taskTodo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 46rem;
  width: 100%;
  margin: 12px auto 0;
  padding: 0.625rem;
  background-color: var(--gray-400);
  border-radius: 8px;
  gap: 15px;
  box-sizing: border-box;
  word-break: break-word;
}

.checkboxContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.checkboxContainer input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.customCheckbox {
  width: 16px;
  height: 16px;
  border: 2px solid var(--blue);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  transition: all 0.2s;
}

.checkboxContainer:hover input:not(:checked)+.customCheckbox {
  border-color: #00bfff;
}

.checkboxContainer input:checked+.customCheckbox {
  background-color: var(--purple);
  border-color: var(--purple);
}

.customCheckbox::after {
  content: "";
  position: absolute;
  display: none;
}

.checkboxContainer input:checked+.customCheckbox::after {
  content: "✓";
  color: white;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -58%);
  display: block;
}

.checkboxContainer:hover input:checked+.customCheckbox {
  background-color: #9b5de5;
  border-color: #9b5de5;
}


.taskTodo>strong {
  font-weight: normal;
  color: var(--gray-100);
}

.taskTodo>.buttonTrash button {
  width: 24px;
  height: 24px;
  background: transparent;
  border: 0;
  color: var(--gray-300);
  cursor: pointer;
  line-height: 0;
  border-radius: 2px;
}

.taskTodo>.buttonTrash button:hover {
  color: var(--danger);
}